div(class="cart_summary_btn")
  a(
    href="/" 
    class="common_btn continue_shopping"
    ) Tiếp tục mua sắm
  a(
    href="/checkout" 
    class="common_btn"
    )
    | Thanh toán
    i.fas.fa-long-arrow-right