div(class="cart_summary_btn")
  a(
    href="shop.html" 
    class="common_btn continue_shopping"
    ) Contiue shopping
  a(
    href="checkout.html" 
    class="common_btn"
    )
    | checkout
    i.fas.fa-long-arrow-right